.h6{
    grid-area: h6;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
    color:white;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    font-size: small;
}