header{
    grid-area: header;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{ 
    width: 180px;
    border-radius: 50px;
    padding: 1rem;
    margin: 1rem;
}
li ul{
    display: none;
}
.botomSub:hover ul {
    display: block;
    position: absolute;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
    height: auto;
    border: 1px solid white;
}
.botomSub ul li a{
    display: block;
    color:grey;
    margin: 10px;
    padding: 10px;
}
.botomSub ul li a:hover{
    color:white;
}

.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding:0 10px;
    margin:0 10px;
    transition: 0.4s;
}
.cont{
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.menu li{
    list-style: none;
    
}
.mostrar-menu,
.esconder-menu{
    font-size: 46px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu{
    order: 1;
    padding: 0.5rem;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: black;
}
#check{
    display: none;
}